doctype html
html(lang="en")
  - const currentPage = 'learning';
  - const docVersion = '1.0';
  include ../../shared/versions.pug
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Learning Resources for lps.js v#{docVersion}
    include ../../shared/head-includes.pug
  body
    include ../../shared/menu.pug
    .container-fluid
      .row
        .col-md-12
          h1
            | Learning Resources
            small.text-muted &nbsp;for v#{docVersion}.x
          hr
        .col-md-8.col-sm-8.col-lg-6
          h2.display-4 LPS Syntax
          p The topics in this section contain learning resources about understanding Logic Production System (LPS) syntax and writing LPS programs.
          ul
            li: a(href="/learning/" + docVersion + "/lps/intro.html") Introduction to LPS
            li: a(href="/learning/" + docVersion + "/lps/cycles.html") Cycles
            li: a(href="/learning/" + docVersion + "/lps/logic-program.html") Logic Program
            li: a(href="/learning/" + docVersion + "/lps/reactive-rules.html") Reactive Rules
            li Observations and Actions
            li: a(href="/learning/" + docVersion + "/lps/fluents.html") Fluents and Event Theory
        .col-md-8.col-sm-8.col-lg-6
          hr.d-lg-none
          h2.display-4 lps.js API
          p The topics in this section contain resources relating to the use of lps.js in JavaScript.
          ul
            li API Reference
        .col-md-8.col-sm-8.col-lg-6
          hr
          h2 Contributing
          p Found an issue or mistake in the documentation? You can help by submitting a report to <a href="https://github.com/mauris/lps.js.org">our Github repository</a> or make a pull request to fix the problem.
    include ../../shared/scripts.pug
