doctype html
html(lang="en")
  - const currentPage = 'learning';
  include ../../../shared/versions.pug
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Logic Program - Learning Resources - lps.js
    include ../../../shared/head-includes.pug
  body
    include ../../../shared/menu.pug
    .container-fluid
      .row
        .col-md-8.col-sm-8.col-lg-6
          include ../header.pug
          h2.display-4 Logic Program

          p LPS implements the SLD with negation as failure (SLDNF) in addition to Horn clauses. Similar to first order logic and Prolog, the LPS language can be used to write and express logic programs. Logic program in LPS can be considered as the expression of an agent's beliefs.

          h3 Facts

          p A time-independent fact (i.e. not a <a href="fluents.html">fluent</a>) can be defined on its own in a LPS program. For example, to indicate that curtains are flammable, you can write the fact as:

          pre.ml-3: code flammable(curtains).

          h3 Clauses

          p To express a clause in the form "<code><i>conclusion</i> if <i>conditions</i></code>", you need to use the "<code>&lt;-</code>" <i>if</i> operator to separate the conclusion term (also known as the head of the clause) and conditions (also known as the body of the clause). For example to say that eliminating the fire is a way to deal with a fire occurring, you can write:

          pre.ml-3: code deal_with_fire(T1, T2) &lt;- eliminate(T1, T2).

          p If there are more than one conjuncts in the "<i>conditions</i>", they need to be separated using the "," comma symbol. The comma symbol is also read as the logic &and; "and" operator. The following example expresses the steps involving the activation of a personnel.

          pre.ml-3: code
            | activate(P, T1, T4) &lt;-
            |   moveOut(P, T1, T2),
            |   putOutFire(T2, T3),
            |   reportBack(P, T3, T4).

          h3 Constraints

          p To express a constraint (or formally definite denial), you can leave the the condition term (i.e. the head) to be empty. For example, to express that it is not possible to dispose trash into a bin while the bin is locked:

          pre.ml-3: code &lt;- dispose(_Trash, Bin), locked(Bin).

          p Facts and clauses need to be terminated by a period symbol "<code>.</code>" to indicate that the end of the fact/clause.

    include ../../../shared/scripts.pug
