nav.navbar.navbar-expand-lg.navbar-dark.bg-theme.mb-3
	a.navbar-brand(href="/") lps.js
	span.navbar-text The LPS runtime in JS

	button.navbar-toggler(type="button", data-toggle="collapse", data-target="#mainNavBar", aria-controls="mainNavBar", aria-expanded="false", aria-label="Toggle navigation")
		span.navbar-toggler-icon
	#mainNavBar.collapse.navbar-collapse
		.navbar-nav.ml-auto
			a.nav-item.nav-link(class=currentPage === 'learning' ? 'active' : '', href="/learning/") Learning
			a.nav-item.nav-link(class=currentPage === 'sandbox' ? 'active' : '', href="/sandbox/") Sandbox
			a.nav-item.nav-link(href="http://lps.doc.ic.ac.uk/") About LPS
			a.nav-item.nav-link(href="https://github.com/mauris/lps.js") Github
			span.nav-item.navbar-text.ml-lg-3: small v#{lpsVersion}
