doctype html
html(lang="en")
  - const currentPage = 'sandbox';
  - const lpsGitCommitHash = 'a91d17a';
  include ../shared/versions.pug
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title lps.js Sandbox - Logic Production System (LPS) interpreter in JavaScript
    include ../shared/head-includes.pug
  body
    include ../shared/menu.pug
    .container-fluid
      .row
        .col-md-10
          .input-group.mb-3
            textarea#txtCodeInput.textarea-code.form-control(style="width: 100%; height: 300px;")
          .input-group.mb-3
            button#btnRunProgram.btn.btn-primary(onclick="runProgram()") Run Program
            .dropdown.ml-3
              button#dropdownMenuButton.btn.btn-light.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Example Programs
              .dropdown-menu#exampleProgramsList(aria-labelledby="dropdownMenuButton")
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/bank.lps", onclick="loadExample(this)") Bank
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/bubbleSort.lps", onclick="loadExample(this)") Bubble Sort
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/dining.lps", onclick="loadExample(this)") Dining Philosophers
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/fireSimple.lps", onclick="loadExample(this)") Fire (Simple)
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/fireRecurrent.lps", onclick="loadExample(this)") Fire (Recurrent)
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/guard.lps", onclick="loadExample(this)") Guard Dispatching
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/mark.lps", onclick="loadExample(this)") Mark Drinking Water
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/mark-hiccup.lps", onclick="loadExample(this)") Mark Hiccup
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/quickSort.lps", onclick="loadExample(this)") Quick Sort
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/prisoners.lps", onclick="loadExample(this)") Prisoners
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/shopping.lps", onclick="loadExample(this)") Shopping
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/towers.lps", onclick="loadExample(this)") Concurrent Towers
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/trash.lps", onclick="loadExample(this)") Trash
                button.dropdown-item(data-source="https://cdn.rawgit.com/mauris/lps.js/" + lpsGitCommitHash + "/examples/turing.lps", onclick="loadExample(this)") Silly Dialogue
          #outputArea.timeline
        .col-md-2
          h2 Sandbox
          p The sandbox allows you to run LPS programs in the browser using the bundled-for-browser version of lps.js. Certain modules provided by lps.js may not be available in the browser, such as the p2p module.
          p: small To get you started, you can choose to load the provided example LPS programs and click on "Run Program" to run the program. The program's execution timeline will then be shown below.
    script(type="text/javascript", src="https://github.com/mauris/lps.js/releases/download/v" + lpsVersion + "/lps-" + lpsVersion + ".bundle.js")
    include ../shared/scripts.pug
    script(type="text/javascript", src="/assets/sandbox.js")
