doctype html
html(lang="en")
  - const currentPage = 'sandbox';
  include ../shared/versions.pug
  head
    title lps.js Sandbox - Logic Production System (LPS) interpreter in JavaScript
    include ../shared/head-includes.pug
  body
    include ../shared/menu.pug
    .container-fluid
      .row
        .col-md-12
          .input-group.mb-3
            textarea#txtCodeInput.textarea-code.form-control(style="width: 100%; height: 300px;")
          .input-group.mb-3
              button#btnRunProgram.btn.btn-primary(onclick="runProgram()") Run Program
          #outputArea.timeline
      script(type="text/javascript", src="https://github.com/mauris/lps.js/releases/download/v" + lpsVersion + "/lps-" + lpsVersion + ".bundle.js")
      include ../shared/scripts.pug
