doctype html
html(lang="en")
  include shared/versions.pug
  head
    title Logic Production System (LPS) interpreter in JavaScript
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/" + bootstrapVersion + "/css/bootstrap.min.css")
  body
    include shared/menu.pug
    .container-fluid
      .row
        .col-md-12