doctype html
html(lang="en")
  include shared/versions.pug
  head
    title Logic Production System (LPS) interpreter in JavaScript
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/" + bootstrapVersion + "/css/bootstrap.min.css")
  body
    include shared/menu.pug
    .container-fluid
      .row
        .col-md-12
          .jumbotron
            h1.display-4 Powering the Web with Logic-based AI
            p.lead Logic Production System (LPS) is a logic-based production system language that unifies both forward and backward inference methods into a single framework, embedding an agent's goals as reactive rules and its beliefs as Horn clauses.
            hr
            p lps.js is the LPS interpreter implemented in JS. Want to see how lps.js works?
            a.btn.btn-primary.btn-lg(href="/sandbox/") Go to Sandbox
